<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>registerservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerservlet</servlet-name>
  	<url-pattern>/registerservlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>loginservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginservlet</servlet-name>
  	<url-pattern>/loginservlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>indexloadservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.IndexLoadServlet</servlet-class>
   	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>indexloadservlet</servlet-name>
  	<url-pattern>/indexloadservlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>exituserservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.ExitUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>exituserservlet</servlet-name>
  	<url-pattern>/exituserservlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deleteuserservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteuserservlet</servlet-name>
  	<url-pattern>/deleteuserservlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>updateuserservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateuserservlet</servlet-name>
  	<url-pattern>/updateuserservlet.action</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>updatereadyservlet</servlet-name>
  	<servlet-class>com.mine.mvc.servlet.UpdateReadyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updatereadyservlet</servlet-name>
  	<url-pattern>/updatereadyservlet.action</url-pattern>
  </servlet-mapping>
</web-app>