<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Requst_Response</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>request</servlet-name>
  	<servlet-class>com.mine.request.MyRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>response</servlet-name>
  	<servlet-class>com.mine.response.MyResponse</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>response2</servlet-name>
  	<servlet-class>com.mine.response.MyResponse2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>response3</servlet-name>
  	<servlet-class>com.mine.response.MyResponse3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>response4</servlet-name>
  	<servlet-class>com.mine.response.MyResponse4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>response5</servlet-name>
  	<servlet-class>com.mine.response.MyResponse5</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>response5</servlet-name>
  	<url-pattern>/response5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>response4</servlet-name>
  	<url-pattern>/response4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>response3</servlet-name>
  	<url-pattern>/response3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>response2</servlet-name>
  	<url-pattern>/response2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>response</servlet-name>
  	<url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>request</servlet-name>
  	<url-pattern>/request</url-pattern>
  </servlet-mapping>
</web-app>